<div class="container">
  <nav class="navbar bg-light">
    <strong class="heading">Global Semiconductor Industry Overview 2019</strong>
    <p>Semiconductor industry has long been considered as one of the largest contributors in the global technological developments, and it is expected to continue its steady growth in the near future, mainly driven by several top semiconductor industry trends including 5G communication, Artificial Intelligence (AI), autonomous cars, Internet of Things (Iot) and the dominance of China.

      Technavio has been closely monitoring the latest semiconductor industry trends to create 
      an in-depth portfolio of global semiconductor industry market research reports. 
      These reports help our clients identify opportunities within the market and develop 
      effective strategies to optimize their market positions. Take a look at Technavio’s <a href="https://blog.technavio.com/blog/top-semiconductor-industry-trends">journey</a> till now</p>
   
    <div class="menu">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="https://blog.technavio.com/blog/top-semiconductor-industry-trends">Home</a>
    </li>
    <li class="nav-item">
      <i class="fas fa-youtube"></i>
      <a class="nav-link" href="#">Trending</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Subscriptions</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="#">Library</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">History</a>
    </li>
    <hr class="hr">
    
    <li class="nav-item">
      <a class="nav-link" href="#">Contacts</a>
    </li>
  </ul> 
  </div>
</nav>

</div>
<img  id="logo" class="login-background" style="width:102%" src="./assets/semiconductor.jpg">
