.outer-table{
    width: 129%;
    margin-left: -85px;
    margin-bottom: -15px;
}
.title{
    text-align: center;
    font-size: 27px;
}
.login-background{
    top: -56px;
    position: absolute;
    left: -490px;
    padding: -26px;
    margin-bottom: -185px;
}
