<div class="card mt-4">
    <h4 class="card-header">3D SEMI CONDUCTORS</h4>
    <div class="card-body">
       
        <p> <strong>Welcome to the world of SEMI CONDUCTOR</strong></p>
        <p>This page can be accessed by <u>all authenticated users</u></p>
        <p class="mb-1">Details of the loggged in user is :</p>
        <!-- <div *ngIf="loading" class="spinner-border spinner-border-sm"></div> -->
        <ul *ngIf="userFromApi">
            <li>{{userFromApi.firstName}} {{userFromApi.lastName}}</li>
        </ul>
    </div>
</div>


<img  id="logo" class="login-background" src="./assets/semi-conductor.png">